h1 {
    letter-spacing: 3px;
    justify-content: center;
    text-align: center;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.css-form legend{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
}

#rating-area {
    align-content: center;
}

#star_ratings {
    margin-top: 10px;
}

span:first-of-type {
    margin-top: 10px;
}

#css-error-message {
    background-color: #ec0d0d;
    font-weight: 100;
    color: #000;
    text-shadow: #fff;
}

.css-bookmark {
   justify-content: center;
   align-self: center;
   padding: 5px;
   background-color: rgb(129, 156, 179);
   border-radius: 2%;
   border: 2px solid #202122;
   margin-bottom: 5px;
}

